@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
  margin: 0;
  font-family: 'Lobster', Arial, Helvetica, sans-serif;
}

.block_labels {
  display: block;
  font: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.myForm {
  background-color: salmon;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#myInputs {
  text-align: center;
}

input{
  margin-right: 10px;
  font-size: 2rem;
  padding: 5px;
}

#sendButton {
  display: block;
  padding: 12px;
  font-size: 20px;
  font-family: 'Lobster', Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: rgb(238, 176, 121);
  border: none;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px black;
  cursor: pointer;
  border-radius: 5px;
}

#sendButton:hover {
  background-color: rgb(250, 216, 185);
  color: rgb(236, 158, 90);
}

#myCheckbox {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 60px;
}

.textArea {
  padding: 20px;
}

.myBorder {
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5%;
  box-shadow: 10px 10px 15px black;
  background-color: rgb(107, 174, 236);
}