body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.myForm {
    background-color: salmon;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    font-size: 0.5 rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 5px;
    border: none;
    width: 97%;
}

.myBorder {
    border: 1px solid white;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 15px black;
    background-color: rgb(107, 174, 236);
    align-items: center;
}

#myCheckbox {
    margin-top: 12px;
    margin-bottom: 12px;
    display: inline;
    color: black;
}
#SignUpButton {
    font-family: 'Lobster';
    display: block;
    padding: 12px;
    font-size: 20px;
    width: 100%;

    background-color: rgb(238, 176, 121);
    border: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    cursor: pointer;
    border-radius: 5px;
}